<h1 class="title">Manage Styles</h1>
<table class="table styles">
    <thead class="head">
        <tr>
            <th>name</th>
            <th>color</th>
            <th>wikiURL</th>
        </tr>
    </thead>
    <tbody class="body">

        {{#unless styles}}
        <tr>
            <td colspan="6">no styles yet</td>
        </tr>
        {{/unless}}

        {{#each styles}}
        <tr>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.color}}
            </td>
            <td>
                {{this.wikiURL}}
            </td>
            <td>
                <a class="fas fa-pen" href="/styles/update/{{this._id}}"></a>
            </td>
            <td>
                <a class="fas fa-times" href="/styles/delete/{{this._id}}"></a>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>